<div class="center jumbotron">
<h2><%= t('.welcome') %> <%=@current_user.surname %> <%=@current_user.name %> <%=@current_user.patr %></h2>
<div class="error" ><%= notice %></div>
<% if @current_user.role !='doctor'  && @current_user.username !='admin'%><%= form_tag  url_for(controller: :main, action: :view_all), method: 'get' do %>

  <% if Visit.all.select {|record| record.user == @current_user.username && record.date.to_date >= Time.now}.sort_by(&:date)[0] != nil %>  
  <div class="alert alert-success" role="alert">
  <%= t('.near_date') %>
       <%=Visit.all.select do |record| record.user == @current_user.username && record.date >= Time.now end.sort_by(&:date)[0].date.strftime("%Y-%m-%d %H:%M") %> <br>
        Врач: <%= User.find_by_username(Visit.all.select do |record| record.user == @current_user.username && record.date >= Time.now end.sort_by(&:date)[0].doctor).surname %>
          <%= User.find_by_username(Visit.all.select do |record| record.user == @current_user.username && record.date >= Time.now end.sort_by(&:date)[0].doctor).name %>
            <%= User.find_by_username(Visit.all.select do |record| record.user == @current_user.username && record.date >= Time.now end.sort_by(&:date)[0].doctor).patr %> 
    </div>
    <%end%>

  
    <fieldset class="form-group">

      <legend><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard2-pulse" viewBox="0 0 16 16">
      <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
      <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
      <path d="M9.979 5.356a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.926-.08L4.69 10H4.5a.5.5 0 0 0 0 1H5a.5.5 0 0 0 .447-.276l.936-1.873 1.138 3.793a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h.5a.5.5 0 0 0 0-1h-.128L9.979 5.356Z"/>
    </svg>Дневник здоровья</legend>

      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act" value="view_all" id="view_all" checked>
          <%= t('.show_all') %>
        </label>
      </div>
      
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act" value="find_date" id="find_date">
          <%= t('.view_date') %> <input type="date" id="date" name="date" value="2024-01-10" />
        </label>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act" value="add_record" id="add_record">
          <%= t('.add') %>
        </label>
      </div>

    </fieldset>

    <%= submit_tag(t('.choose')) %> 
    <%end%>
    
    <%= form_tag  url_for(controller: :main, action: :view_vis), method: 'get' do %>

    <fieldset class="form-group">

      <legend><svg xmlns="http://www.w3.org/2000/svg" width="38" height="30" fill="currentColor" class="bi bi-hospital" viewBox="0 0 16 16">
      <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z"/>
      <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z"/>
    </svg>Приёмы врача</legend>

      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act1" value="view_last" id="view_vis" checked>
          Посмотреть историю приёмов 
        </label>
      </div>
      
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act1" value="view_fut" id="view_fut">
          Посмотреть имеющиеся записи на приём
        </label>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act1" value="add_vis" id="add_vis">
          <%= t('.add_vis') %>
        </label>
      </div>

    </fieldset>

    <%= submit_tag(t('.choose')) %> 
<% end %>
</br>

  

<% elsif @current_user.role =='doctor' %>
<p id="hidden"><%=@patients %></p>
  <%= form_tag  url_for(controller: :main, action: :view_all), method: 'get' do %>

    <fieldset class="form-group">

      <legend><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard2-pulse" viewBox="0 0 16 16">
      <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
      <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
      <path d="M9.979 5.356a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.926-.08L4.69 10H4.5a.5.5 0 0 0 0 1H5a.5.5 0 0 0 .447-.276l.936-1.873 1.138 3.793a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h.5a.5.5 0 0 0 0-1h-.128L9.979 5.356Z"/>
    </svg>Дневник здоровья</legend>

      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act" value="view_all" id="view_all" checked>
          <%= t('.show_all') %>
        </label>
      </div>
      
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="act" value="find_pat" id="find_pat">
          <%= t('.show_pat') %>
        </label><br>
        <%= t('.surname') %> <input type="text_field" id="surname" name="surname" remote="true"/>
        <%= t('.name') %> <input type="text_field" id="name" name="name" remote="true"/>
        <%= t('.patronymic') %> <input type="text_field" id="patr" name="patr" remote="true"/>
      </div>

    </fieldset>

    <%= submit_tag(t('.choose')) %> <%end%>

    <%= form_tag  url_for(controller: :main, action: :view_vis), method: 'get' do %>

      <fieldset class="form-group">
  
        <legend><svg xmlns="http://www.w3.org/2000/svg" width="38" height="30" fill="currentColor" class="bi bi-hospital" viewBox="0 0 16 16">
        <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z"/>
        <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z"/>
      </svg>Приёмы врача</legend>
  
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="act1" value="view_last" id="view_vis" checked>
            <%= t('.view_last_1') %>
          </label><br>
          <%= t('.surname') %> <input type="text_field" id="surname1" name="surname" remote="true"/>
          <%= t('.name') %> <input type="text_field" id="name1" name="name" remote="true"/>
          <%= t('.patronymic') %> <input type="text_field" id="patr1" name="patr" remote="true"/>
        </div>
        
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="act1" value="view_fut" id="view_fut">
            Посмотреть имеющиеся записи на приём
          </label>
        </div>
  
      </fieldset>
  
      <%= submit_tag(t('.choose')) %> 
  <% end %>
<%elsif @current_user.username =='admin'%>  
<button><%= link_to "Зарегистрировать профиль врача", users_new_doctor_path %></button>
<button><%= link_to 'Добавить блок приёмов',:controller => "visits", :action => "new_block" %></button>
<button><%= link_to 'Посмотреть все приёмы', visits_path %></button>
<button onclick="window.location.href = '/users';">Посмотреть всех пользователей</button>
<%end%>     
</div>