<h2 id="data"> Приёмы пациента: <%=@date %></h2>

<div class="alert_alert-success" role="alert">
  <%= form_tag  url_for(controller: :main, action: :filter), method: 'get', class: 'alert_alert-success', remote: true, id: 'filter_visits' do %>
    <b>Фильтры </b><br>
    Период с <input type="date" name="filter_date_from" id="filter_date_from"/> по 
    <input type="date" name="filter_date_to" id="filter_date_to" /><br>
    Врач <select name="doctor" id="filter_doctor">
      <option value="-">Все</option>
      <%=User.all.select{|user| user.role=="doctor"}.each do |doctor|%>
      <option value=<%=doctor.username%>><%=doctor.surname%> <%=doctor.name%> <%=doctor.patr%></option>
      <%end%>
    </select><br>
    <%= submit_tag("Применить") %>
    <% end %>
  </div>
<table>
  <thead>
    <tr>
      <th>Врач</th>
      <%if @current_user.role=="doctor"%>
      
      <%end%>
      <th><%= t('.date') %> </th>
      <% if @act1=="view_last" %>
      <th>Диагноз </th>
      <th><%= t('.compl') %> </th>
      <th>Анамнез</th>
      <th><%= t('.res') %></th>
      <th><%= t('.recom') %></th>
      <th>Рекомендованная дата для визита</th>
      <%end%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="table">
    <% @data.each do |datum| %>
      <tr>
        <td id="doctor" class="doctor"><%= User.find_by_username(datum.doctor).surname %> <%= User.find_by_username(datum.doctor).name%> <%= User.find_by_username(datum.doctor).patr %></td>
        <%if @current_user.role=="doctor"%>
        
        <%end%>
        <td id="date" class="date"><%= datum.date.strftime("%d-%m-%Y %H:%M") %></td>
        <% if @act1=="view_last" %>
        <td><%= datum.diagnosis %></td>
        <td><%= datum.compl %></td>
        <td><%= datum.anamnesis %></td>
        <td><%= datum.res %></td>
        <td><%= datum.recom %></td>
        <td><%= datum.next_v%></td>
        <%end%>
        <% if @act1=="view_fut" %>
        <td><%= link_to 'Отменить', datum, method: :delete, data: { confirm: "Вы уверены что хотите отменить запись?"} %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.back'), main_select_path %>
