<h2 id="data"><%= t('.data') %> <%=@date %></h2>

<% if @act == 'find_pat' && @current_user.role == "doctor" %>
  <div class="alert_alert-success" role="alert">
  <%= form_tag  url_for(controller: :main, action: :analyze), method: 'get', remote: true, class: 'alert_alert-success', id: 'analyze' do %>
    Выберите количество дней для формирования отчёта
    <input type="number" name="number_days" id="number_days" step="1" min="1" max="100"/>
    <%= submit_tag("Получить отчёт") %>
    <% end %>
  </div>
  <div class="alert_alert-success" role="alert" id="analyze_result">
  </div>
  <%= line_chart [data: @data_chart_temp], min: 35, max: 40, id: 'chart_temp', title: "Температура (С)"%>
  <%= line_chart [data: @data_chart_h_pres], min: 60, max: 160, id: 'chart_h_pres', title: "Систолическое АД (мм.рт.ст.)"%>
  <%= line_chart [data: @data_chart_l_pres], min: 30, max: 100, id: 'chart_l_pres', title: "Диастолическое АД (мм.рт.ст.)"%>
  <%= line_chart [data: @data_chart_pulse], min: 40, max: 150, id: 'chart_pulse', title: "ЧСС (уд/мин)"%>
  <%= line_chart [data: @data_chart_satur], min: 80, max: 100, id: 'chart_satur', title: "Сатурация (%)"%>
<%end%>

<table>
  <thead>
    <tr>
      <th><%= t('.username') %> </th>
      <th><%= t('.date') %> </th>
      <th><%= t('.temp') %> </th>
      <th><%= t('.h_pres') %></th>
      <th><%= t('.l_pres') %></th>
      <th>ЧСС</th>
      <th>Сатурация</th>
      <th>Комментарий</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.username %></td>
        <td id="date"><%= datum.data.strftime("%d-%m-%Y %H:%M") %></td>
        <td><%= datum.temp %></td>
        <td><%= datum.h_pres %></td>
        <td><%= datum.l_pres %></td>
        <td><%= datum.pulse %></td>
        <td><%= datum.satur %></td>
        <td><%= datum.comment %></td>
        <% if @current_user.username==datum.username %><td><button><%= link_to 'Редактировать', edit_datum_path(datum) %></button></td>
        <td><button><%= link_to 'Удалить', datum, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить эту запись?' } %></button></td> <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to t('.back'), main_select_path %></button>
