<%= form_with(model: visit, local: true) do |form| %>
    <% if visit.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>
  
        <ul>
        <% visit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <p>
  <strong>Дата и время:</strong>
  <%= @visit.date.strftime("%d-%m-%Y %H:%M") %>
    </p>
    <p>
  <strong>Врач:</strong>
  <%= User.find_by_username(@visit.doctor).surname %> <%= User.find_by_username(@visit.doctor).name %> <%= User.find_by_username(@visit.doctor).patr %>
    </p>
  
    <div class="actions">
      <%= form.submit value="Записаться" %>
    </div>
  <% end %>