<%= form_with(model: visit, local: true) do |form| %>
  <% if visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Дата и время" %>
    <%= form.datetime_local_field :date , disabled:"disabled"%>
  </div>

  <div class="field">
  <%= form.label "Доктор" %>
  <%= form.text_field :doctor , disabled:"disabled"%>
  </div>

  <div class="field">
    <%= form.label "Пациент" %>
    <%= form.text_field :user , disabled:"disabled"%>
  </div>

  <div class="field">
    <%= form.label "Диагноз" %>
    <%= form.text_area :diagnosis, style:"width:600px; height:70px;"%>
  </div>
  
  <div class="field">
  <%= form.label "Анамнез" %>
  <%= form.text_area :anamnesis, style:"width:600px; height:70px;" %>
  </div>

  <div class="field">
    <%= form.label "Жалобы" %>
    <%= form.text_area :compl, style:"width:600px; height:70px;" %>
  </div>

  <div class="field">
    <%= form.label "Результаты осмотра" %>
    <%= form.text_area :res, style:"width:600px; height:70px;"%>
  </div>

  <div class="field">
    <%= form.label "Рекомендации" %>
    <%= form.text_area :recom, style:"width:600px; height:70px;" %>
  </div>

  <div class="field">
    <%= form.label "Следующий визит" %>
    <%= form.datetime_local_field :next_v %>
  </div>
  <div class="actions">
    <%= form.submit  "Сохранить изменения"%>
  </div>
<% end %>
