<h1></h1>

<%if current_user.role!="doctor"%>
<h1>Запись на приём</h1>
<%= render 'form1', visit: @visit %>
<%else%>
<h1>Протокол приёма</h1>
 <h2><%= User.find_by_username(@visit.user).surname %> <%= User.find_by_username(@visit.user).name%> <%= User.find_by_username(@visit.user).patr %></td>
</h2>
<p><button><%= link_to 'Перейти к дневнику здоровья пациента', :controller=>"main", :action=>"view_all",
:surname=> User.find_by_username(@visit.user).surname,:name=> User.find_by_username(@visit.user).name,
:patr=> User.find_by_username(@visit.user).patr,
:act=> "find_pat"%></button> <button><%= link_to 'Перейти к истории приёмов пациента', :controller=>"main", :action=>"view_vis",
:surname=> User.find_by_username(@visit.user).surname,:name=> User.find_by_username(@visit.user).name,
:patr=> User.find_by_username(@visit.user).patr,
:act1=> "view_last"%></button></p>
<%= render 'form', visit: @visit %>
<%end%>

