<p id="notice"><%= notice %></p>
<% if @current_user.role!="doctor" && @current_user.username!="admin"%>
<h2>Запись на приём</h2>
<%end%>
<% if @current_user.username=="admin" %>
<div class="alert_alert-success" role="alert">
  <%= form_tag  url_for(controller: :visits, action: :filter), method: 'get', class: 'alert_alert-success', remote: true, id: 'filter_visits' do %>
    Фильтры <br>
    Период с <input type="date" name="filter_date_from" id="filter_date_from"/> по 
    <input type="date" name="filter_date_to" id="filter_date_to" /><br>
    Врач <select name="doctor" id="filter_doctor">
      <option value="-">Все</option>
      <%=User.all.select{|user| user.role=="doctor"}.each do |doctor|%>
      <option value=<%=doctor.username%>><%=doctor.surname%> <%=doctor.name%> <%=doctor.patr%></option>
      <%end%>
    </select><br>
    <%= submit_tag("Применить") %>
    <% end %>
  </div>
<%end%>

<table>
  <thead>
    <tr>
    <% if @current_user.role!="doctor" %>
      <th>Врач</th>
      <% end%>
      <% if @current_user.role=="doctor" %>
      <th>Пациент</th>
      <% end%>
      <% if @current_user.role!="doctor" &&  @current_user.username!="admin"%>
      <%prev_date=0%>
      <% @visits.sort_by(&:date).each do |visit| %>
        <% if visit.date.to_date > prev_date %>
      <th><%= visit.date.strftime("%d-%m-%Y") %></th>
      <% end %>
      <%prev_date = visit.date.to_date%> <%p visit.date%>
      <%end%>
      <% end%>
      <th colspan="5"></th>
    </tr>
  </thead>

  <% if (@current_user.role!="doctor" && @current_user.username!="admin")%>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.surname%> <%= doctor.name%> <%= doctor.patr %></td>
      <%prev_date = 0 %>
      <% @visits.select{ |visit| visit.doctor == doctor.username}.sort_by(&:date).each do |visit| %>
      <% if visit.date.to_date > prev_date %>
      </td><td><button><%= link_to visit.date.strftime("%d-%m-%Y %H:%M"), edit_visit_path(visit) %></button>
      <% else %> <br><button><%= link_to visit.date.strftime("%d-%m-%Y %H:%M"), edit_visit_path(visit) %></button>
      <% end %>
      <%prev_date = visit.date.to_date%> <%p visit.date%>
      <%end%>
    </tr>
  <% end %>
  <% end %>


<% if @current_user.role=="doctor" %>
    <% @visits.each do |visit| %>
      <tr>
      <td><%= User.find_by_username(visit.user).surname%> <%= User.find_by_username(visit.user).name%> <%= User.find_by_username(visit.user).patr%></td>
        <td><%= visit.date.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Начать приём', edit_visit_path(visit) %></td>
      </tr>
    <% end %>
    <% end %>


    <% if @current_user.username=="admin" %>
    <% @visits.each do |visit| %>
      <tr>
        <td id="doctor" class="doctor"><%= User.find_by_username(visit.doctor).surname %> <%= User.find_by_username(visit.doctor).name%> <%= User.find_by_username(visit.doctor).patr %></td>
        <td id="date" class="date"><%= visit.date.strftime("%d-%m-%Y %H:%M") %></td>
        <td><%= link_to "Удалить", visit, method: :delete, data: { confirm: "Удалить приём?" } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>


