<h2>Добавление блока приёмов врача</h2>
<p class='alert alert_success' role="alert" id="notice" ></p>
<div class="error" ><%= @notice %></div>
<div class="alert_alert-success" role="alert">
  <%= form_tag  url_for(controller: :visits, action: :create_block), method: 'post', class: 'alert_alert-success', id:'create_block', remote: 'true' do %>
    <strong>Выберите параметры для добавления приёмов врача</strong><br>
    Врач <select name="doctor" id="doctor">
      <%=User.all.select{|user| user.role=="doctor"}.each do |doctor|%>
      <option value=<%=doctor.username%>><%=doctor.surname%> <%=doctor.name%> <%=doctor.patr%></option>
      <%end%>
    </select><br>
    Начало приёмного времени <input type="datetime-local" name="time_start" id="time_start"/><br>
    Окончания приёмного времени <input type="datetime-local" name="time_end" id="time_end"/><br>
    Продолжительность приёма пациента <input type="number" name="duration" id="duration" min="1"/> мин<br>
    <%= submit_tag("Добавить приёмы") %>
    <% end %>
  </div>


