</br><p id="notice"><%= notice %></p>

<p>
  <strong>Дата:</strong>
  <%= @visit.date.strftime("%d-%m-%Y %H:%M") %>
</p>

<p>
  <strong>Пациент:</strong>
  <%= User.find_by_username(@visit.user).surname%> <%= User.find_by_username(@visit.user).name%> <%= User.find_by_username(@visit.user).patr%> 
</p>

<p>
  <strong>Врач:</strong>
  <%= User.find_by_username(@visit.doctor).surname%> <%= User.find_by_username(@visit.doctor).name%> <%= User.find_by_username(@visit.doctor).patr%>  
</p>
<% if @current_user.role!="doctor" %>
<button><%= link_to 'Добавить запись на приём', main_select_path %></button>
<%end%>
<% if @current_user.role=="doctor" %>

<p>
  <strong>Диагноз:</strong>
  <%= @visit.diagnosis %>
</p>

<p>
  <strong>Анамнез:</strong>
  <%= @visit.anamnesis %>
</p>

<p>
  <strong>Жалобы:</strong>
  <%= @visit.compl %>
</p>

<p>
  <strong>Результаты осмотра:</strong>
  <%= @visit.res %>
</p>

<p>
  <strong>Рекомендации:</strong>
  <%= @visit.recom %>
</p>

<p>
  <strong>Дата следующего визита:</strong>
  <%= @visit.next_v %>
</p>
<button><%= link_to 'Редактировать', edit_visit_path(@visit) %> </button>
<button><%= link_to 'Перейти к списку приёмов', main_select_path %></button>
<%end%>

