<div class="center jumbotron">
<h2><%= t('.log_in') %></h2>


<div class="error" ><%= notice %></div>
<div>
<%= form_with url: session_create_url, method: :post, local: true do |f| %>
    <h><%= t('.username') %> </h><%= f.text_field :username, required: true%>
    <h><%= t('.password') %> </h><%= f.password_field :password, required: true%>
    <h><%= f.submit t('.enter') %></h>
<% end %>

<%= link_to t('.sign_up'), new_user_path %>
</div>
</div>
