<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, t('users.form.error')) %> <%= t('users.form.prohibited') %></h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('users.form.username')  %>
    <%= form.text_field :username, required: true %>
  </div>

  <div class="field">
    <%= form.label t('users.form.password') %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
  <%= form.label t('users.form.surname') %>
  <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label t('users.form.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('users.form.patronymic') %>
    <%= form.text_field :patr %>
  </div>
  <%if @current_user!=nil%>
  <%if @current_user.username!="admin"%>
  <div class="field">
    <%= form.label t('users.form.polis') %>
    <%= form.text_field :polis %>
  </div>

  <div class="field">
    <%= form.label t('users.form.birth') %>
    <%= form.date_field :birth %>
  </div>
  <%end%>
  <%end%>

<%if @current_user!=nil%>
<%if @current_user.username=="admin"%>
  <div class="field">
    <%= form.label 'Роль' %>
    <%= form.text_field :role %>
  </div>
<%end%>
<%end%>

  <div class="actions">
    <%= form.submit value=t("users.form.save") %>
  </div>
   
<% end %>
