<p id="notice"><%= notice %></p>

<h1><%= t('.users') %></h1>
<form>
Поиск по имени пользователя <input type="text_field" id="username_search" name="username_search" /><br>
Поиск по фамилии пользователя <input type="text_field" id="surname_search" name="surname_search" />
</form>

<table>
  <thead>
    <tr>
      <th><%= t('.username') %></th>
      <th><%= t('.surname') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.patronymic') %></th>
      <th><%= t('.polis') %></th>
      <th><%= t('.birth') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td id="username"><%= user.username %></td>
        <td id="surname"><%= user.surname %></td>
        <td><%= user.name %></td>
        <td><%= user.patr %></td>
        <td><%= user.polis %></td>
        <td><%if !user.birth.nil?%><%= user.birth.strftime("%d-%m-%Y") %><%else%><%= user.birth %><%end%></td>
        <td><%= link_to t('.edit'), edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.back'), main_select_path %>
