<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.username') %></strong>
  <%= @user.username %>
</p>


<p>
  <strong><%= t('.name') %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('.surname') %></strong>
  <%= @user.surname %>
</p>

<p>
  <strong><%= t('.patronymic') %></strong>
  <%= @user.patr %>
</p>

<p>
  <strong><%= t('.polis') %></strong>
  <%= @user.polis %>
</p>

<p>
  <strong><%= t('.birth') %></strong>
  <%= @user.birth %>
</p>

<%= link_to t('.back'), main_select_path %>
