<%= form_with(model: datum, local: true) do |form| %>
  <% if datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datum.errors.count, t("data.form.error")) %> <%= t("data.form.prohibited") %></h2>

      <ul>
      <% datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t("data.form.username") %>
    <%= form.text_field :username, disabled:"disabled"%>
  </div>

  <div class="field">
    <%= form.label t("data.form.date") %>
    <%= form.datetime_local_field :data %>
  </div>

  <div class="field">
    <%= form.label t("data.form.temp") %>
    <%= form.text_field :temp %>
  </div>

  <div class="field">
    <%= form.label t("data.form.h_pres") %>
    <%= form.number_field :h_pres, min:"0", max:"300"  %>
  </div>

  <div class="field">
    <%= form.label t("data.form.l_pres") %>
    <%= form.number_field :l_pres, min:"0", max:"300"  %>
  </div>

  <div class="field">
  Сатурация
  <%= form.number_field :satur, min:"0", max:"100"  %>
  </div>

  <div class="field">
  ЧСС
  <%= form.number_field :pulse, min:"0", max:"300"  %>
  </div>

  <div class="field">
    Комментарий
    <%= form.text_area :comment %>
  </div>

  <div id='button' class="actions">
    <%= form.submit value=t("data.form.save")%>
  </div>
<% end %>
