<h1>Записи дневника здоровья</h1>

<%if notice!=nil %>
<p class="alert alert-success" id="notice"><%= notice %></p>
<%end%>

<div class="alert_alert-success" role="alert">
  <%= form_tag  url_for(controller: :data, action: :index), method: 'get', class: 'alert_alert-success' do %>
    Фильтры <br>
    Период с <input type="date" name="filter_date_from" id="filter_date_from"/> по 
    <input type="date" name="filter_date_to" id="filter_date_from" />
    <%= submit_tag("Применить") %>
    <% end %>
  </div>
<% if @current_user.role!="doctor" %>
<%= line_chart [{name: "Температура", data: @data_chart_temp}], min: 35, max: 40%>
<%= line_chart [{name: "Систолическое АД", data: @data_chart_h_pres}, {name: "Диастолическое АД", data: @data_chart_l_pres}], min: 60, max: 160%>
<%= line_chart [{name: "ЧСС", data: @data_chart_pulse}], min: 50, max: 140%>
<%= line_chart [{name: "Сатурация", data: @data_chart_satur}], min: 40, max: 100%>
<%end%>
<table>
  <thead>
    <tr>
      <th><%= t('.surname') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.patronymic') %></th>
      <th><%= t('.date') %></th>
      <th><%= t('.temp') %></th>
      <th><%= t('.h_pres') %></th>
      <th><%= t('.l_pres') %></th>
      <th>ЧСС</th>
      <th>Сатурация</th>
      <th>Комментарий</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td id="surname"><%= User.find_by_username(datum.username).surname %></td>
        <td id="name"><%= User.find_by_username(datum.username).name %></td>
        <td id="patr"><%= User.find_by_username(datum.username).patr %></td>
        <td id="date"><%= datum.data.strftime("%d-%m-%Y %H:%M") %></td>
        <td id="temp"><%= datum.temp %></td>
        <td id="h_pres"><%= datum.h_pres %></td>
        <td id="l_pres"><%= datum.l_pres %></td>
        <td><%= datum.pulse %></td>
        <td><%= datum.satur %></td>
        <td><%= datum.comment %></td>
        <% if @current_user.username==datum.username %><td><button><%= link_to t('.edit'), edit_datum_path(datum) %></button></td>
        <td><button><%= link_to t('.destroy'), datum, method: :delete, data: { confirm: t('.sure') } %></button></td> <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to t('.back'), main_select_path %></button>
