<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.username') %></strong>
  <%= @datum.username %>
</p>

<p>
  <strong><%= t('.date') %></strong>
  <%= @datum.data.strftime("%d-%m-%Y %H:%M") %>
</p>

<p>
  <strong><%= t('.temp') %></strong>
  <%= @datum.temp %>
</p>

<p>
  <strong><%= t('.h_pres') %></strong>
  <%= @datum.h_pres %>
</p>

<p>
  <strong><%= t('.l_pres') %></strong>
  <%= @datum.l_pres %>
</p>

<p>
  <strong>ЧСС:</strong>
  <%= @datum.pulse %>
</p>

<p>
  <strong>Сатурация:</strong>
  <%= @datum.satur %>
</p>

<p>
  <strong>Комментарий:</strong>
  <%= @datum.comment %>
</p>

<button><%= link_to t('.edit'), edit_datum_path(@datum) %></button>
<button><%= link_to "Вернуться к просмотру дневника здоровья", data_path %></button>

