// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
  }