
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;//verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


.alert_alert-success{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  padding:10px;
  border:none;
  background-color:#808080;
  color:#000000;
  font-weight:500;
  border-radius:5px;
  width:100%;
}

p, ol, ul, td {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;//verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #494949;
  }

  &:hover {
    color: #fff;
    background-color: #a8a7ac;
  }
}

tr {
  padding-bottom: 5px;
  border: 1px solid #8b8989;
}

td {
  padding: 0 5px 7px;
  //border: 1px solid #8b8989;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

#hidden {
  display: none;
}