// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
  word-wrap: break-word;
  //word-break: break-all;
}
td {
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
  hyphens: auto;
  //word-break: break-all;
}
tr:hover td {
  color: #6699ff;
  //word-wrap: break-word;
}

form {
  
  padding:10px;
  border:none;
  background-color:#808080;
  color:#000000;
  font-weight:600;
  border-radius:5px;
  width:100%;
}

body{
  //background-image: url(fon.jpg);
  background-color: #ADD8E6;
}

.error{
  background:#FF0000;
  }
.exit{
  background:#FF0000;
  position: relative;
  margin-left: 90%;
}

#error_explanation{
  color: #FF0000;
}

.lang{
  background:#DDDDDD;
  border-radius:5px;
  position: relative;
  margin-right: 90%;
  padding: 1px 8px;
  }

